@import "tailwindcss";

@layer components{
    .card{
        background-color: rgb(57, 55, 46);
        border: 1px solid black;
        padding: 10px;
        border-radius: 8px;
        color: white;
    }
}